//-
  (c) 2016, Jörn Dinkla, http://www.dinkla.net

  see the file LICENSE in the root directory for license information

extends ../layout

block content

  .row
    .col-sm-12
      h1= title

  .row
    .col-sm-3
    .col-sm-6
      div
        table.table.table-striped
          thead
            tr
              td Datenbank
              td Ergebnis
          tbody
            tr
              td
                a(href="/api/alive/mariadb") MariaDB
              td#d1
                div#mariadb
            tr
              td
                a(href="/api/alive/neo4j") Neo4J
              td
                div#neo4j

        .btn-toolbar
          button.btn.btn-info(onclick="check_neo4j()") Überprüfe Neo4J
          button.btn.btn-info(onclick="check_mariadb()") Überprüfe MariaDB

    .col-sm-3

  script.

    function format(json) {
      return "" + json.status + " " + json.rows;
    }

    function check_neo4j() {
      d3.json('/api/alive/neo4j', function (error, json) {
        if (error) return console.warn(error);
        document.getElementById('neo4j').innerHTML = format(json);
      });
    }

    function check_mariadb() {
      d3.json('/api/alive/mariadb', function (error, json) {
        if (error) return console.warn(error);
        document.getElementById('mariadb').innerHTML = format(json);
      });
    }