//-
  (c) 2016, Jörn Dinkla, http://www.dinkla.net

  see the file LICENSE in the root directory for license information

meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
meta(http-equiv="PRAGMA" content="NO-CACHE")
meta(http-equiv="EXPIRES" content="0")
meta(http-equiv="CACHE-CONTROL" content="PRIVATE")
meta(name="ROBOTS" content="INDEX, FOLLOW")
meta(name="AUTHOR" content="Jörn Dinkla, Dorotheenstrasse 133, 22299 Hamburg, Germany")
meta(name="COPYRIGHT" content="Jörn Dinkla, Dorotheenstrasse 133, 22299 Hamburg, Germany")
meta(name="AUDIENCE" content="all")
meta(name="EMAIL", content="joern@dinkla.com")
