//-
  (c) 2016, Jörn Dinkla, http://www.dinkla.net

  see the file LICENSE in the root directory for license information

.row
  .col-sm-4
    h3.searchbox1 Suche nach Namen
    div
      form(ng-submit="search()")
        .form.jd-input
          label(for="searchText") Suche
          input.form-control(id="searchText", type="text", ng-model="searchText")
        .form
          input(type="radio", ng-model="searchType", value="1", id="searchType1", ng-click="setSearchButtonText();")
          label(for="searchType1") Exakt
        .form
          input(type="radio", ng-model="searchType", value="2", id="searchType2", ng-click="setSearchButtonText();")
          label(for="searchType2", title="Mit einem Like-Muster kann man nach mehreren Namen suchen. Das Zeichen _ (underscore) ist ein Muster für ein beliebiges einzelnes Zeichen. Das Zeichen % für beliebig viele. Zum Beispiel sucht m_i_r% nach maier, meierhofer, usw.") Like-Muster
        .form
          input(type="radio", ng-model="searchType", value="3", id="searchType3", ng-click="setSearchButtonText();")
          label(for="searchType3", title="Ein regulärer Ausdruck kann man nach mehreren Namen suchen. Z. B. steht ein Punkt für ein beliebiges einfaches Zeichen, .* für eine beliebig Lange Kette von Zeichen. [aei]{1,2} gibt ein oder zwei a, e oder i an. Reguläre Ausdrücke sind ausdrucksstark und recht einfach zu lernen.") Regulärer Ausdruck
        .form
          input(type="radio", ng-model="searchType", value="4", id="searchType4", ng-click="setSearchButtonText();")
          label(for="searchType4") Ähnliche Namen in Graph
        .form
          button#searchButton.btn.btn-search {{searchButtonText}}

  .col-sm-4
    h3.searchbox2 Ergebnisse der Suche
    .row
      .col-sm-9
        span Anzahl: {{ numSearchResults }}
      .col-sm-3
        .btn-toolbar
          button.btn.btn-sm.btn-remove-all(ng-click="resetSearch()")
            span(title="Suchergebnisse löschen").glyphicon.glyphicon-trash
    .row(ng-repeat="t in searchResults").jd-names-list
      .col-sm-9
        span {{t}}
      .col-sm-3
        .btn-toolbar
          button.btn.btn-sm.btn-add(ng-click="addName(t)")
            span(title="Zur Auswahl hinzufügen").glyphicon.glyphicon-plus
          button.btn.btn-sm.btn-copy(ng-click="copyName(t)")
            span(title="In Suchfenster kopieren").glyphicon.glyphicon-pencil

  .col-sm-4
    h3.searchbox3 Ausgewählte Familiennamen
    .row
      .col-sm-9
        p Anzahl: {{ lofn.elems.length }}
      .col-sm-3
        form(ng-submit="resetList()")
          button.btn.btn-sm.btn-remove-all
            span(title="Liste löschen").glyphicon.glyphicon-trash
    .row(ng-repeat="t in lofn.elems").jd-names-list
      .col-sm-9
        span(style="color: {{t.color}}")
          {{t.name}}
      .col-sm-3
        .btn-toolbar
          button.btn.btn-sm.btn-remove-one(ng-click="removeName($index)")
            span(title="Aus Liste entfernen").glyphicon.glyphicon-minus
          button.btn.btn-sm.btn-copy(ng-click="copyNameIndex($index)")
            span(title="In Suchfenster kopieren").glyphicon.glyphicon-pencil


