//-
  (c) 2016, Jörn Dinkla, http://www.dinkla.net

  see the file LICENSE in the root directory for license information

extends ../layout

block content

  .row
    .col-sm-12
      h1= title
      p Folgende Datensätze sind in der Datei #{title} vorhanden.

      table.table.table-striped
        thead
          tr
            th K&uuml;rzel
            th Staat

        tbody#theTable

  script.

    d3.select("#nav_data").attr("class", "active");

    d3.tsv("/data/staat.csv", function (error, json) {
      if (error) return console.warn(error);

      var div = d3.select("#theTable")
        .selectAll("div")
        .data(json)
        .enter().append("tr");

      div.append("td").text(function (d) {
        return d["Kürzel"];
      });

      div.append("td").text(function (d) {
        return d.Staat;
      });

    });
