//-
  (c) 2016, Jörn Dinkla, http://www.dinkla.net

  see the file LICENSE in the root directory for license information

extends layout

block content

  .row
    .col-sm-12
      h1= title

      div.box
        p Dipl.-Inform. Jörn Dinkla (Freiberufler, Freelancer)
        p Dorotheenstraße 133
        p 22299 Hamburg, Germany
        p Mobil: +49 (0) 179 70 10 60 5
        p   Email: joern@dinkla.com
        p Internet: www.dinkla.com
        p Steuer-Nr.: 43/047/00233
        p Umsatzsteuer-ID gemäß § 27 a Umsatzsteuergesetz: DE256513755
        p Inhaltlich Verantwortlicher gemäß § 55 Abs. 2 RStV: Jörn Dinkla (Anschrift wie oben)

      h2 Haftungshinweis
      div.p-warning
        p Trotz sorgfältiger inhaltlicher Kontrolle übernehme ich keine Haftung für die Inhalte externer Links.
        p Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
        p Alle auf dieser Website enthaltenen Marken- und Produktnamen sind Eigentum des jeweiligen Besitzers.

      h2 Urheberschutz
      p Diese Web-Applikation wurde unter der&nbsp;
        a(href="http://choosealicense.com/licenses/gpl-3.0") GNU General Public License v3.0
        | -Lizenz veröffentlicht.


  script.

    d3.select("#nav_imprint").attr("class", "active");

