//-
  (c) 2016, Jörn Dinkla, http://www.dinkla.net

  see the file LICENSE in the root directory for license information

.footer
  .row
    .col-sm-12
      .center &copy; 2016 Jörn Dinkla &nbsp;
        a(href="http://www.dinkla.net") www.dinkla.net
